<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Oscar Veldman">
    <meta name="email" content="oveldman@gmail.com">
    <link rel="icon" href="/content/img/icon_anker.png">

    <title>M.S Primo</title>

    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/content/css/main.css" rel="stylesheet">
</head>

<body>

<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/">M.S Primo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Start<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Crew</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Ship</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Media</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Beginners</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Stage</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<main role="main" class="container">
    {{~> content}}
</main>

<footer class="footer">
    <div class="container">
        <span class="text-muted">© 2018 V.O.F Veldman-Stavast - The website is made by Oscar Veldman</span>
    </div>
</footer>
<script src="/bootstrap/js/jquery-3.3.1.slim.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>